# Get Vacation Criteria

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Pedasi,PA,2021-07-24 18:49:42,7.5333,-80.0333,76.586,92,100,4.55
1,1,Tasiilaq,GL,2021-07-24 18:49:43,65.6145,-37.6368,42.962,98,100,2.56
2,2,Bonoua,CI,2021-07-24 18:49:43,5.2741,-3.5950,80.222,78,58,2.31
3,3,Yellowknife,CA,2021-07-24 18:45:16,62.4560,-114.3525,54.320,57,75,0.45
4,4,Busselton,AU,2021-07-24 18:47:25,-33.6500,115.3333,56.084,70,100,6.90

In [2]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [3]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Pedasi,PA,2021-07-24 18:49:42,7.5333,-80.0333,76.586,92,100,4.55
2,2,Bonoua,CI,2021-07-24 18:49:43,5.2741,-3.5950,80.222,78,58,2.31
5,5,Jamestown,US,2021-07-24 18:46:53,42.0970,-79.2353,80.186,61,20,1.79
7,7,Arraial Do Cabo,BR,2021-07-24 18:49:44,-22.9661,-42.0278,76.964,57,0,10.80
9,9,Xinxiang,CN,2021-07-24 18:49:45,35.3089,113.8672,76.856,79,4,1.49
13,13,Hilo,US,2021-07-24 18:49:48,19.7297,-155.0900,87.278,87,90,0.00
14,14,Denpasar,ID,2021-07-24 18:49:49,-8.6500,115.2167,76.658,88,75,1.54
16,16,Nalut,LY,2021-07-24 18:49:50,30.3333,10.8500,89.870,15,0,3.57
19,19,Dhidhdhoo,MV,2021-07-24 18:49:51,6.8833,73.1000,81.482,78,90,4.83
21,21,Matara,LK,2021-07-24 18:49:52,5.9485,80.5353,77.342,91,100,3.38

In [5]:
preferred_cities_df.count()

City_ID       216
City          216
Country       216
Date          216
Lat           216
Lng           216
Max Temp      216
Humidity      216
Cloudiness    216
Wind Speed    216
dtype: int64

In [6]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0            Pedasi      PA    76.586   7.5333  -80.0333
2            Bonoua      CI    80.222   5.2741   -3.5950
5         Jamestown      US    80.186  42.0970  -79.2353
7   Arraial Do Cabo      BR    76.964 -22.9661  -42.0278
9          Xinxiang      CN    76.856  35.3089  113.8672
13             Hilo      US    87.278  19.7297 -155.0900
14         Denpasar      ID    76.658  -8.6500  115.2167
16            Nalut      LY    89.870  30.3333   10.8500
19        Dhidhdhoo      MV    81.482   6.8833   73.1000
21           Matara      LK    77.342   5.9485   80.5353

In [7]:
# Set parameters to search for a hotel.
params = {"radius": 5000,
          "type": "lodging",
          "key": g_key}

for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [8]:
hotel_df.count()

City          216
Country       216
Max Temp      216
Lat           216
Lng           216
Hotel Name    216
dtype: int64

In [9]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Pedasi,PA,76.586,7.5333,-80.0333,Selina Pedasi
2,Bonoua,CI,80.222,5.2741,-3.5950,Hotel Bon Samaritian
5,Jamestown,US,80.186,42.0970,-79.2353,Hampton Inn & Suites Jamestown
7,Arraial Do Cabo,BR,76.964,-22.9661,-42.0278,Pousada Porto Praia
9,Xinxiang,CN,76.856,35.3089,113.8672,Guoyu Holiday Inn
...,...,...,...,...,...,...
554,Kisangani,CD,77.396,0.5167,25.2000,Grand Ramela Hotel
559,Tulagi,SB,82.274,-9.0996,160.1476,Raiders Hotel & Dive
561,Maracacume,BR,79.430,-2.0428,-45.9592,Hotel Ramos
567,Sola,VU,75.866,-13.8833,167.5500,Leumerus Bungalows
568,Maceio,BR,81.842,-9.6658,-35.7353,Poutur Pousada

In [10]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))