## Deliverable 2. Create a Customer Travel Destinations Map.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [7]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Busselton,AU,-33.6500,115.3333,56.08,68,98,16.08,overcast clouds
1,1,Castro,BR,-24.7911,-50.0119,58.26,67,0,3.62,clear sky
2,2,Liseleje,DK,56.0053,11.9483,68.83,77,45,5.99,scattered clouds
3,3,Yellowknife,CA,62.4560,-114.3525,56.32,50,75,1.99,broken clouds
4,4,Bengkulu,ID,-3.8004,102.2655,74.93,87,31,4.61,scattered clouds

In [9]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [10]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Bengkulu,ID,-3.8004,102.2655,74.93,87,31,4.61,scattered clouds
6,6,Halifax,CA,44.6453,-63.5724,73.53,69,64,5.01,broken clouds
10,10,Derzhavinsk,KZ,51.1000,66.3167,72.10,68,100,8.32,moderate rain
14,14,Souillac,MU,-20.5167,57.5167,70.18,83,40,9.22,light rain
19,19,Sinnar,SD,13.5691,33.5672,72.66,90,100,11.30,overcast clouds
22,22,Bon Air,US,37.5249,-77.5578,85.68,71,75,1.99,light rain
23,23,Georgetown,MY,5.4112,100.3354,82.89,90,20,3.44,few clouds
24,24,Gazanjyk,TM,39.2446,55.5154,85.05,62,0,12.28,clear sky
25,25,Westport,US,41.1415,-73.3579,83.68,55,1,1.01,clear sky
29,29,Vaini,TO,-21.2000,-175.2000,78.96,94,20,4.61,few clouds

In [11]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                324
City                   324
Country                324
Lat                    324
Lng                    324
Max Temp               324
Humidity               324
Cloudiness             324
Wind Speed             324
Current Description    324
dtype: int64

In [13]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df.count()

City_ID                324
City                   324
Country                324
Lat                    324
Lng                    324
Max Temp               324
Humidity               324
Cloudiness             324
Wind Speed             324
Current Description    324
dtype: int64

In [15]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Bengkulu,ID,74.93,scattered clouds,-3.8004,102.2655,
6,Halifax,CA,73.53,broken clouds,44.6453,-63.5724,
10,Derzhavinsk,KZ,72.10,moderate rain,51.1000,66.3167,
14,Souillac,MU,70.18,light rain,-20.5167,57.5167,
19,Sinnar,SD,72.66,overcast clouds,13.5691,33.5672,
22,Bon Air,US,85.68,light rain,37.5249,-77.5578,
23,Georgetown,MY,82.89,few clouds,5.4112,100.3354,
24,Gazanjyk,TM,85.05,clear sky,39.2446,55.5154,
25,Westport,US,83.68,clear sky,41.1415,-73.3579,
29,Vaini,TO,78.96,few clouds,-21.2000,-175.2000,

In [16]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {"radius": 5000,
          "type": "lodging",
          "key": g_key}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f'{lat},{lng}'
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Bengkulu,ID,74.93,scattered clouds,-3.8004,102.2655,Grage Hotel Bengkulu
6,Halifax,CA,73.53,broken clouds,44.6453,-63.5724,Hotel Halifax
10,Derzhavinsk,KZ,72.10,moderate rain,51.1000,66.3167,Ooo.khim Baza
14,Souillac,MU,70.18,light rain,-20.5167,57.5167,Shanti Maurice Resort & Spa
19,Sinnar,SD,72.66,overcast clouds,13.5691,33.5672,هجو الطاهر
...,...,...,...,...,...,...,...
694,Corinth,GR,80.69,few clouds,37.9407,22.9573,Ephira Hotel
695,Elizabeth City,US,86.00,clear sky,36.2946,-76.2511,Hampton Inn Elizabeth City
696,Harper,LR,76.51,overcast clouds,4.3750,-7.7169,Screensaver
697,Wattegama,LK,77.92,overcast clouds,6.7989,81.4808,
699,Beinamar,TD,71.73,broken clouds,8.6698,15.3813,

In [25]:
# 7. Drop the rows where there is no Hotel Name.
import numpy as np
hotel_df["Hotel Name"].replace("", np.nan, inplace=True)
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Bengkulu,ID,74.93,scattered clouds,-3.8004,102.2655,Grage Hotel Bengkulu
6,Halifax,CA,73.53,broken clouds,44.6453,-63.5724,Hotel Halifax
10,Derzhavinsk,KZ,72.10,moderate rain,51.1000,66.3167,Ooo.khim Baza
14,Souillac,MU,70.18,light rain,-20.5167,57.5167,Shanti Maurice Resort & Spa
19,Sinnar,SD,72.66,overcast clouds,13.5691,33.5672,هجو الطاهر
...,...,...,...,...,...,...,...
694,Corinth,GR,80.69,few clouds,37.9407,22.9573,Ephira Hotel
695,Elizabeth City,US,86.00,clear sky,36.2946,-76.2511,Hampton Inn Elizabeth City
696,Harper,LR,76.51,overcast clouds,4.3750,-7.7169,Screensaver
697,Wattegama,LK,77.92,overcast clouds,6.7989,81.4808,NaN
699,Beinamar,TD,71.73,broken clouds,8.6698,15.3813,NaN

In [30]:
hotel_df = hotel_df.dropna()
hotel_df.count()

City                   303
Country                303
Max Temp               303
Current Description    303
Lat                    303
Lng                    303
Hotel Name             303
dtype: int64

In [31]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Bengkulu,ID,74.93,scattered clouds,-3.8004,102.2655,Grage Hotel Bengkulu
6,Halifax,CA,73.53,broken clouds,44.6453,-63.5724,Hotel Halifax
10,Derzhavinsk,KZ,72.10,moderate rain,51.1000,66.3167,Ooo.khim Baza
14,Souillac,MU,70.18,light rain,-20.5167,57.5167,Shanti Maurice Resort & Spa
19,Sinnar,SD,72.66,overcast clouds,13.5691,33.5672,هجو الطاهر
...,...,...,...,...,...,...,...
691,Dandong,CN,71.51,few clouds,40.1292,124.3947,Yiranju Farmstay
692,Partenit,UA,71.64,clear sky,44.5780,34.3446,Приватотель
694,Corinth,GR,80.69,few clouds,37.9407,22.9573,Ephira Hotel
695,Elizabeth City,US,86.00,clear sky,36.2946,-76.2511,Hampton Inn Elizabeth City
696,Harper,LR,76.51,overcast clouds,4.3750,-7.7169,Screensaver

In [32]:
# 8a. Create the output File (CSV)
output_data_file = "./WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [37]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [38]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))